# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.env.*
*.venv
env/
venv/
*.egg-info/
dist/
build/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Streamlit
# =========================
.streamlit/

# =========================
# Temp files
# =========================
*.tmp
*.log
*.swp

# =========================
# VS Code
# =========================
.vscode/

# =========================
# ML / Large files (IMPORTANT)
# =========================
*.pth
*.pt
*.h5
*.ckpt
data/
datasets/
models/